@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --color-primary: #0070f3;
  --color-secondary: #f9a8d4;
  --color-background: #f3f4f6;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgba(var(--background-end-rgb), 1)
    )
    rgba(var(--background-start-rgb), 0);
} */

/* nav{
  background-color: #f9a8d4;
} */